// Colors
$color-primary: #4D4C6F;
$color-secondary: #7577BA;
$color-accent: #F5F5F5;
$color-text: #000000;
$color-text-gray: #3c3c3c;
$color-graph: #D5D5EA;
$color-active: #91C794;
$color-social-background: #f5f5f5;
$color-social-text: #777777;
$color-social-header: #6466b2;

$break-points: (
    mobile: 320px,
    tablet: 768px,
    desktop: 1024px,
);

// alert 